mat-card {
  height: 83vh;
  width: 31vw;
  background-color: #3f51b5;
  color: #fff;
}

.middle-content{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer{
  margin-top: 10rem;
  width: 100%;
  color: rgb(255, 255, 179);
}