.spacer {
  flex: 1 1 auto
}

h1 {
  cursor: pointer;
  user-select: none;
}

mat-toolbar {
  max-height: 12vh;
}

.search-row {
  justify-content: center;
  font-size: small;
}

#product-search-placeholder::placeholder {

  color: hsl(231, 31%, 61%);
}
