<div class="purchase-main">
  <div class="cart">
    <div class="header">
      Cart
    </div>
    <mat-divider></mat-divider>
    <div class="main">
      <app-purchased-item *ngFor="let item of testArr" [item]="item"></app-purchased-item>
    </div>
    <mat-divider></mat-divider>
    <div class="footer">

    </div>
  </div>
  <div class="pay">
    <div class="header">
      Order
    </div>
    <mat-divider></mat-divider>
    <div class="main">
      main
    </div>
    <mat-divider></mat-divider>
    <div class="footer">

    </div>
  </div>
</div>
