<mat-tab-group animationDuration="0ms" (selectedTabChange)="emitNewCategory($event)" [ngClass]="{'with-cart':!hide}">
  <mat-tab mat-button *ngFor="let category of _shop.categories" [label]="category">
    <mat-grid-list cols="2" rowHeight="25vh">
      <mat-grid-tile rowspan="1" colspan="1" *ngFor="let product of _shop.currentViewedProducts">
        <app-grid-product [product]="product"></app-grid-product>
      </mat-grid-tile>
      <div class="no-products mat-display-3" *ngIf="!_shop.currentViewedProducts.length">Couldn't find any products 😔</div>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
